@CHARSET "UTF-8";

body{
	background-color: #ddd;
}

.container {
	background-color: white;
	border-radius: 5px;
	margin-top: 1em;
}

.modal-body {
	border-radius: 5px;
}

#header{
	width: 50%;
	margin: 0 auto;
}